name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go:
          - 1.18

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
          check-latest: true

      - name: Build
        run: go build -v ./...

      - name: Test
        if: ${{ matrix.go != '1.16' }}
        run: go test -v -coverprofile=coverage.txt -shuffle on ./...

      - name: Test
        if: ${{ matrix.go == '1.16' }}
        run: go test -v -coverprofile=coverage.txt ./...

      - name: Coverage
        uses: codecov/codecov-action@v2

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest
